<img src="https://github.com/seap-udea/xearch/blob/main/resources/xearch-logo.png?raw=true" align="left">

## Required packages

In [1]:
# External modules
import spiceypy as spy
import numpy as np
import matplotlib.pyplot as plt
from astropy import constants as c
from astropy.time import Time
import pandas as pd
import pickle
from datetime import datetime
from tqdm import tqdm
from IPython.display import display,HTML

# Constants
G = c.G.value
Msun = c.M_sun.value
Mearth = c.M_earth.value
Mjup = c.M_jup.value
Rsun = c.R_sun.value
Rearth = c.R_earth.value
Rjup = c.R_jup.value
Mjup2earth = Mjup/Mearth
Rjup2earth = Rjup/Rearth

# Units
K = 1 # Kelvin
days = 86400
JD = days # Julian days
BJD = days # Bessel Julian days
years = 365.25*days # Julian years
au = c.au.value 
deg = np.pi/180
rad = 1/deg
Gyr = 1e9*years
dex = 1

# Useful routines
def sex2dec(angle):
    h, m, s = map(float, angle.split())
    sgn = np.sign(h)
    return sgn*(abs(h) + m/60 + s/3600)

def date2jd(date, format='%y/%m/%d'):
    dt = datetime.strptime(date, format)
    t = Time(dt)
    jd = t.jd
    return jd

def print_df(df):
    display(HTML(df.to_html()))

## Read database

In [211]:
# Read planetary systems
exec(open('signals/systems-full.py').read())

In [2]:
import xml.etree.ElementTree as ET, urllib.request, gzip, io
#url = "https://github.com/OpenExoplanetCatalogue/oec_gzip/raw/master/systems.xml.gz"
#url = "https://github.com/OpenExoplanetCatalogue/oec_gzip/raw/master/systems-exoplanetarchive.xml.gz"
url = "https://github.com/OpenExoplanetCatalogue/oec_gzip/raw/master/systems-exoplaneteu.xml.gz"

oec = ET.parse(gzip.GzipFile(fileobj=io.BytesIO(urllib.request.urlopen(url).read())))

In [3]:
# Output mass and radius of all planets 
for planet in oec.findall(".//planet"):
    name = planet.findtext("name") 
    if 'Proxima' in name:
        print(name)
        print(planet.findtext("mass"))
    pass

Proxima Centauri b
0.00337
Proxima Centauri d
0.00082

In [4]:
binary_properties = dict(
    # General
    name = ['binary_name',str,0],
    # Position
    separation = ['sep_bin',float,1,au], 
    positionangle = ['pa_bin',float,1,deg],
    # Orbital elements
    semimajoraxis = ['a_bin',float,1],
    eccentricity = ['e_bin',float,1],
    inclination = ['I_bin',float,1],
    periastron = ['w_bin',float,1,deg],
    ascendingnode = ['W_bin',float,1,deg],
    meananomaly = ['M_bin',float,1],
    meanlongitude = ['L_bin',float,1,deg],
    period = ['period_bin',float,1,days],
    epoch = ['et_bin',float,1,BJD],
    # Times
    maximumrvtime = ['tk_bin',float,1,BJD],
    # Magnitudes
    magB = ['magB_bin',float,1,dex],
    magV = ['magV_bin',float,1,dex],
    magI = ['magI_bin',float,1,dex],
    magR = ['magR_bin',float,1,dex],
    magJ = ['magJ_bin',float,1,dex],
    magH = ['magH_bin',float,1,dex],
    magK = ['magK_bin',float,1,dex],
) # Other: nstars

system_properties = dict(
    # General
    name = ['system_name',str,0],
    # Position
    declination = ['declination',sex2dec,1,deg],
    rightascension = ['rightascension',sex2dec,1,deg],
    distance = ['distance',float,1],
) # Other: nplanets

star_properties = dict(
    # General
    name = ['star_name',str,0],
    # Physical
    mass = ['stars_mass',float,1,Msun],
    radius = ['stars_radius',float,1,Rsun],   
    temperature = ['stars_temperature',float,1,K],
    age = ['stars_age',float,1,Gyr],
    # Spectral
    metallicty = ['metallicity',float,1,dex], # Relative to sun
    spectraltype = ['spectraltype',str,0],
    # Magnitudes
    magB = ['magB',float,1,dex],
    magV = ['magV',float,1,dex],
    magI = ['magI',float,1,dex],
    magR = ['magR',float,1,dex],
    magJ = ['magJ',float,1,dex],
    magH = ['magH',float,1,dex],
    magK = ['magK',float,1,dex],
)

planet_properties = dict(
    # General
    name = ['planet_name',str,0],
    # description = ['description',str,0],
    discoverymethod = ['method',str,0],
    # Times
    istransiting = ['istransiting',int,1],
    discoveryyear = ['dicovery',int,1,years],
    #lastupdate = ['update',date2jd,1,JD],
    lastupdate = ['update',str,0],
    # Physical    
    mass = ['mass',float,Mjup2earth,Mjup],
    radius = ['radius',float,Rjup2earth,Rjup],
    temperature = ['temperature',float,1,K],
    age = ['age',float,1,Gyr],
    # Position
    impactparameter = ['b',float,1],
    separation = ['separation',float,1,au],
    # Orbital elements
    semimajoraxis = ['a',float,1],
    eccentricity = ['e',float,1],
    inclination = ['I',float,1],
    periastron = ['w',float,1,deg],
    ascendingnode = ['W',float,1,deg],
    meananomaly = ['M',float,1],
    meanlongitude = ['L',float,1,deg],
    period = ['period',float,1,days],
    epoch = ['et',float,1,BJD],
    # Times
    transittime = ['tt',float,1,BJD],
    periastrontime = ['tp',float,1],
    maximumrvtime = ['tk',float,1,BJD],
    # Other
    spinorbitalignment = ['so',float,1,deg],
)
# Columns compilation
columns = []
for properties in system_properties,star_properties,planet_properties: #,binary_properties:
    for key,item in properties.items():
        columns.append(item[0])
print(f"Number of columns: {len(columns)}")

Number of columns: 42

Getting data:

In [6]:
nsystems = 0
nallplanets = 0 
systems = dict()

exoplanets_list = []
for system in tqdm(oec.findall('.//system')):
    name = system.findtext('name')
    if name is None:
        continue
    nsystems += 1
    
    systems[name] = dict()
    exoplanet = dict()

    system_dict = dict()
    # System properties
    for key,item in system_properties.items():
        value = system.findtext(key)
        if value is not None:
            finalvalue = item[1](value)
            if item[1] != str:
                finalvalue *= item[2]
        else:
            finalvalue = None
        systems[name][item[0]] = finalvalue
        system_dict[item[0]] = finalvalue

    # Stars
    nstars = 0
    systems[name]['stars'] = []
    for star in system.findall('.//star'):
        star_name = star.findtext('name') 
        if star_name is None:
            continue
        nstars += 1
        star_dict = dict()
        for key,item in star_properties.items():
            value = star.findtext(key)
            if value is not None:
                finalvalue = item[1](value)
                if item[1] != str:
                    finalvalue *= item[2]
            else:
                finalvalue = None

            star_dict[item[0]] = finalvalue
        systems[name]['stars'].append(star_dict)
        system_dict.update(star_dict)

    systems[name]['nstars'] = nstars
    
    # Planets
    nplanets = 0
    systems[name]['planets'] = []
    for planet in system.findall('.//planet'):
        planet_name = planet.findtext('name') 
        if planet_name is None:
            continue
        nallplanets += 1
        nplanets += 1
        planet_dict = dict()
        for key,item in planet_properties.items():
            value = planet.findtext(key)
            if (value is not None) and (value != ''):
                finalvalue = item[1](value)
                if item[1] != str:
                    finalvalue *= item[2]
            else:
                finalvalue = None

            planet_dict[item[0]] = finalvalue
            exoplanet[item[0]] = finalvalue

        systems[name]['planets'].append(planet_dict)
        system_dict_planet = system_dict.copy()
        system_dict_planet.update(planet_dict)

        exoplanets_list.append(system_dict_planet)

    systems[name]['nplanets'] = nplanets
    exoplanet['nplanets'] = nplanets

exoplanets = pd.DataFrame(exoplanets_list)
print_df(exoplanets.describe())

100%|██████████| 4279/4279 [00:00<00:00, 9313.75it/s]

In [7]:
def filter(dataframe, conditions=[]):
    cond = pd.Series([True]*len(dataframe))
    for condition in conditions:
        column = condition[0]
        value = condition[1]
        if isinstance(value,list):
            cond = (dataframe[column]>=value[0])&(dataframe[column]<=value[1])&cond
        else:
            cond = (dataframe[column] == value)&cond
    
    return dataframe[cond]

In [8]:
filter(exoplanets,[('system_name','ups And')])

,system_name,declination,rightascension,distance,star_name,stars_mass,stars_radius,stars_temperature,stars_age,metallicity,...,w,W,M,L,period,et,tt,tp,tk,so
5372,ups And,41.410556,1.613333,13.47,ups And,1.27,1.631,6212.0,NaN,None,...,44.519,NaN,None,None,4.61711,None,None,None,None,None
5373,ups And,41.410556,1.613333,13.47,ups And,1.27,1.631,6212.0,NaN,None,...,247.629,NaN,None,None,240.93700,None,None,None,None,None
5374,ups And,41.410556,1.613333,13.47,ups And,1.27,1.631,6212.0,NaN,None,...,252.991,NaN,None,None,1281.43900,None,None,None,None,None
5375,ups And,41.410556,1.613333,13.47,ups And,1.27,1.631,6212.0,NaN,None,...,7.300,NaN,None,None,3848.86000,None,None,None,None,None

In [9]:
print_df(filter(exoplanets,[('method','RV'),('e',[0.5,1])]).dropna(subset=['radius']).head(10))